* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="28" height="49" viewBox="0 0 28 49"%3E%3Cg fill-rule="evenodd"%3E%3Cg id="hexagons" fill="%239C92AC" fill-opacity="0.4" fill-rule="nonzero"%3E%3Cpath d="M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E') fixed;
	font-family: Arial, Helvetica, sans-serif;
}

/* Whole site wrapper */

#wrapper {
	position: relative;
}

/* Header */

#header {
	background-color: rgb(255, 255, 255);
	position: fixed;
	top: 0;
	padding: 0 10px;
	min-height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	z-index: 1;
}

@media (max-width: 680px) {
	#header {
		flex-wrap: wrap;
	}
}

h1 {
	font-size: 1.75em;
	margin: 15px 0 0 15px;
}

h2 {
	margin: 0.83em 0;
}

h3 {
	margin: 1em 0;
}

@media (max-width: 400px) {
	h1 {
		font-size: 1.30em;
		padding: 5px 0;
	}
	h2 {
		font-size: 1.15em;
	}
	h3 {
		font-size: 0.95em;
	}
}

.logo {
	width: 70vw;
	display: inline-flex;
	align-items: center;
}


@media (max-width: 750px) {
	.logo {
		width: 100%;
		position: relative;
	}
}

#header-img {
	width: 100%;
	height: 100%;
	max-width: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 30px;
	margin-right: 10px;
	transform: rotate(0);
	transition: .7s;
}

@media (max-width: 400px) {
	#header-img {
		margin-right: 0;
		width: 48px;
		height: 48px;
	}
}

#header-img:hover {
	transform: rotate(360deg);
	transition: .7s;
}

/* nav bar */

#nav-bar {
	font-weight: 600;
}

@media (max-width: 750px) {
	#nav-bar {
		margin-top: 10px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	#nav-bar li {
		padding-bottom: 5px;
	}
}

#nav-bar ul {
	width: 45vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@media (max-width: 750px) {
	#nav-bar ul {
		flex-direction: column;
	}
}

#nav-bar li {
	list-style: none;
}

.nav-link {
	text-decoration: none;
	color: #000;
}

/* form section */

#subscribe {
	padding: 80px 30px 0;
	text-align: center;
}

@media (max-width: 680px) {
	#subscribe {
		padding-top: 144px;
	}
}

#form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#email {
	text-align: center;
	font-size: 25px;
	color: black;
	padding: 12px;
	width: 500px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border: 1px solid black;
	border-bottom: 1px dotted black;
}

@media (max-width: 680px) {
	#email {
		width: 380px;
	}
}

@media (max-width: 400px) {
	#email {
		width: 250px;
		font-size: 0.9em;
	}
}

#email[placeholder] {

	color: black;
}

#submit {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	padding: 12px;
	width: 500px;
	margin: 0 0 15px 0;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	background-color: white;
	color: black;
	border: 1px solid black;
	border-top: 0;
	cursor: pointer;
	transition: .3s;
}

@media (max-width: 680px) {
	#submit {
		width: 380px;
	}
}

@media (max-width: 400px) {
	#submit {
		width: 250px;
		font-size: 1.2em;
	}
}

#submit:hover {
	color: white;
	background-color: black;
}

/* 1st section */

#first {
	padding: 0 30px 0;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

#first img {
	width: 96px;
	height: 96px;
	margin-bottom: 15px;
	transform: scale(1);
	transition: .5s;
}

@media (min-width: 1200px) {
	#first img {
		width: 128px;
		height: 128px;
	}
}

#first img:hover {
	transform: scale(1.1);
	transition: .5s;
}

.icon-description {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
}

.icon-description span {
	margin-left: 12px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	color: black;
}

@media (max-width: 400px) {
	.icon-description {
		flex-direction: column;
	}
	#first span {
		margin: 0;
	}
}

@media (min-width: 730px) {
	.icon-description span {
		min-height: 96px;
		display: flex;
		align-items: center;
	}
}

@media (min-width: 1200px) {
	.icon-description span {
		max-width: 1200px;
		height: 128px;
		display: flex;
		align-items: center;
	}
}

@media (max-width: 680px) {
	#first img {
		width: 64px;
		height: 64px;
	}
}

/* 2nd section */

#second {
	padding: 20px 30px;
	background-color: rgb(255, 255, 255);
}

#second h2 {
	text-align: center;
}

/* Responsive video */

.video-resp {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

@media (min-width: 1200px) {
	#second iframe {
		padding: 60px 100px;
	}
}

@media (min-width: 1600px) {
	#second iframe {
		padding: 95px 170px;
	}
}

/* 3rd section */

#third {
	padding: 20px 30px;
}

#third h2 {
	text-align: center;
}

@media (max-width: 400px) {
	#zero,
	#first,
	#second,
	#third {
		padding: 0 15px;
	}
}

/* Properties */

.box-prop {
	font-size: 16px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

@media (max-width: 835px) {
	.box-prop {
		flex-direction: column;
	}
}

@media (min-width: 1200px) {
	.box-prop {
		font-size: 20px;
	}
}

.box-prop div {
	width: 250px;
	height: 300px;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	border: 2px dashed black;
	border-radius: 20px;
	margin: 20px 0 30px;
	transform: scale(1);
	transition: .5s;
}

@media (min-width: 1200px) {
	.box-prop div {
		width: 300px;
		height: 370px;
	}
}

.box-prop div:hover {
	transform: scale(1.1);
	z-index: 1;
}

table {
	width: 100%;
}

table caption {
	font-weight: bold;
	margin-bottom: 5px;
}


tr:hover {
	background-color: rgba(211, 211, 211, 0.3);
}

.ingr {
	width: 70%;
	text-align: left;
	padding: 5px 0;
	border-bottom: 1px dashed black;
}

.value {
	width: 30%;
	text-align: right;
	padding: 5px 0;
	border-bottom: 1px dashed black;
}

/* Social / Copyright for icons */

.social {
	display: flex;
	justify-content: center;
	background-color: white;
	text-align: center;
	padding: 10px;
}

.social img {
	width: 64px;
	height: 64px;
	margin-right: 5px;
}

.flaticon-copyrights {
	font-size: 12px;
	text-align: center;
	background-color: white;
	padding: 5px;
}

.flaticon-copyrights a {
	text-decoration: none;
	color: #000;
}

.flaticon-copyrights a:active {
	text-decoration: none;
	color: #000;
}
